<h2>Lista de Reservas</h2>
<div class="list-container">
    {{#each tbl_reservas}}
    #{{this.id_reserva}}<p>{{this.cpf}}</p> - <p>{{this.placa}}</p> - {{thi.dataInicio}} - {{this.dataFim}}
    <form action="/reservas/remover/{{this.id}}" method="POST">
    <input type="submit" value="Remover">
    </form>
    {{/each}}
</div>